* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
}
html {
	overflow: scroll;
	background: url('../images/bg_dotted.png') repeat scroll 0 0 transparent;
}
.container {
	font-family: Georgia, serif;
	color: #777777;
	width: 65%;
	min-height: 100%;
	margin-top: -120px;
	line-height: 18px;
	font-size: 20px;
	margin: 0 auto;
	margin-top: 10px;
}
* html .container {
	height: 100%
}
/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
	content: "";
	height: 100%;
	float: left;
	width: 0;
	margin-top: -32767px;/* thank you Erik J - negate effect of float*/
}
.container:after {/* thank you Erik J - instead of using display table for ie8*/
	clear: both;
	display: block;
	height: 1%;
	content: " ";
}
.nav {
	height: 0px;
}